<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Default instance on this machine (Windows auth). LegacyBizDb already created. -->
    <add name="LegacyBizDb"
         connectionString="Data Source=localhost;Initial Catalog=LegacyBizDb;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <!--
      Named instance: Data Source=localhost\MSSQLSERVER01;Initial Catalog=LegacyBizDb;Integrated Security=True
      SQL auth:       Data Source=localhost;Initial Catalog=LegacyBizDb;User ID=sa;Password=YOUR_PASSWORD
    -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <sessionState mode="InProc" timeout="30" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
